@model IEnumerable<MagniFinanceExercise.Models.Grade>

@{
    ViewBag.Title = "Index";
}

<h2>Grades</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Grade</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Value)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Value }) |
            @Html.ActionLink("Details", "Details", new { id = item.Value }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Value })
        </td>
    </tr>
}

</table>
